.App{
     margin: 0;
     width:100vw;
     height: 100vh;
     display: flex;

}

.header{
     display: flex;
     width:100% ;
     height:15vh ;
     background-color: rgb(24, 19, 19);
     color: white;
     align-items: center;
     justify-content: center;
     position: fixed;
     top: 0;
}
.header,h1{
     font-size: 3rem;
}

.form{
     position: fixed;
     top: 0;
     margin-top:15vh ;
     display: flex;
     width: 100%;
     height: 15vh;
     justify-content:center;
     align-items: center;
     background-color: aquamarine;
}

.input-add{
     font-size: larger;
     width: 25vw;
     height: 7vh;
     padding-left: 10px;
     margin-right: 20px;
     border-radius: 10px;
}

.btn-add{
     width: 8vw;
     font-size: large;
     height: 7vh;
     padding:5px ;
     border-radius:10px ;
}
.Search{
     margin-top:32vh ;
     display: flex;
     flex-direction: row;
     justify-content: center;
     height: 6vh;
     width: 100vw;
     position: fixed;
}
.Search-inp{
     width:25vw ;
     padding-left:10px ;
     border-radius: 5px;
}
.main{
     display: flex;
     height:auto;
     width: 100vw;
     overflow-y: auto;
     justify-content: center;
     align-items:flex-start;
     margin-top:40vh;
     margin-bottom: 10vh;
     background-color: aqua;
}
.ul{
     padding: 30px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
}
.list-item{
     display: flex;
     padding: 15px;
     font-size: 3rem;
     font-weight: 700;
     width: 50vw;
     background-color: blueviolet;
     border-radius: 10px;
     margin: 10px;
     justify-content: center;
     align-items: center;
}

.input-checkbox{
     width: 40px;
     height: 40px;
     margin-right: 30px;
}
.btn-delete{
     font-size: 2rem;
     margin-left: 20px;
     border-radius: 10px;
     padding: 2px;
     background-color: aquamarine;
}
.btn-delete:hover{
     background-color: red;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: white;
  text-align: center;
  padding: 5px;
}
